.Header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:90%;
    margin:30px auto;
    align-items: center;
}
.header-img{
    max-width: 175px;
    width: 30vw;
}
.header-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
.header-list li{
    font-size: 1.2rem;
    margin: 0px 10px;
    color:#f46262;
    text-wrap: nowrap;
}
.header-list li:hover{
    text-decoration: underline;
}
.header-list a{
    color:#f46262;
    text-decoration: none;
}
.active{
    text-decoration: underline;
}