.home{
    width:90%;
    margin:auto;
    margin-bottom: 100px;
    flex: 1;
}
.home-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    position: relative;
}
.photo{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Ajuste la largeur à 100% du conteneur */
  height: 100%; /* Permet à la hauteur de s'ajuster automatiquement pour garder les proportions */
  object-fit: cover; 
}
.home-title{
    color: white;
    z-index: 5;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-list{
    margin: 30px 0;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-items: center;
    background: #F6F6F6;
    padding: 50px;
    border-radius: 20px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}
.card-container{
    width:fit-content
}
.card{
    width: 240px;
    height: 240px;
    background: #FF6060;
    list-style: none;
    border-radius: 10px;
    color: white;
    position: relative;
    overflow: hidden;
}
.card span{
    z-index: 5;
    position: absolute;
    bottom: 0px;
    padding:20px;
}
.overlay{
    width: 240px;
    height: 240px;
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    border-radius: 10px;
}
.cover_image{
    height:100%
}

@media screen and (min-width: 400px) {
    .card, .overlay{
        width: 340px;
        height: 340px;
    }
}