*{
    font-family: 'Montserrat', sans-serif;
}
#root {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de la fenêtre visible */
  }
  .main-content {
    flex: 1; /* Pour pousser le footer en bas de la page */
  }